<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle de Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col">
        <label for="selectProducto" class="form-label">Producto</label>
        <select id="selectProducto" class="form-select" aria-label="Producto" [(ngModel)]="productoSeleccionadoId">
          <option *ngFor="let producto of productosLista" [value]="producto.idProducto">{{producto.nombre}}</option>
        </select>
      </div>
      <div class="col">
        <label for="inputCantidad" class="form-label">Cantidad</label>
        <div class="form-outline">
          <input type="number" id="inputCantidad" class="form-control" [(ngModel)]="cantidadProducto" />
        </div>
      </div>
      <div class="col">
        <button type="button" class="btn btn-info" (click)="agregar()">Agregar</button>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Valor Unitario</th>
          <th scope="col">Valor Total</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of detallePedidoLista">
          <th scope="row">{{detalle.idProducto}}</th>
          <td>{{detalle.nombreProducto}}</td>
          <td>{{detalle.cantidad}}</td>
          <td>{{detalle.valorUnitario}}</td>
          <td>{{detalle.valorTotal}}</td>      
          <td><button type="button" class="btn btn-danger" (click)="eliminaDetalle(detalle)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
</div>

<hr style="margin-top: 100px;">

<div class="container" style="margin-top: 50px;">
  <div class="row" style="margin-bottom: 30px;">
    <div class="col">
      <label for="inputTotalSinDescuento" class="form-label">Total sin Descuento:</label>
      <div class="form-outline">
        <input type="number" id="inputTotalSinDescuento" class="form-control"
               readonly [(ngModel)]="pedidoDto.totalSinDescuento" style="border: 1px solid gray;" />
      </div>
    </div>
      
    <div class="col">
      <label for="inputTotalSinDescuento" class="form-label">Descuento aplicado %</label>
      <div class="form-outline">
        <input type="number" id="inputTotalSinDescuento" class="form-control"
               readonly [(ngModel)]="pedidoDto.descuento" style="border: 1px solid gray;" />
      </div>
    </div>

    <div class="col">
      <label for="inputTotalSinDescuento" class="form-label">Total con Descuento</label>
      <div class="form-outline">
        <input type="number" id="inputTotalSinDescuento" class="form-control"
               readonly [(ngModel)]="pedidoDto.total" style="border: 1px solid gray;" />
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 30px;">
    <div class="col">
      <label for="inputCedula" class="form-label">Cédula:</label>
      <div class="form-outline">
        <input type="number" id="inputCedula" class="form-control"
               [(ngModel)]="pedidoDto.nroDocumento" style="border: 1px solid gray;" />
      </div>
    </div>
      
    <div class="col">
      <label for="inputDireccion" class="form-label">Dirección</label>
      <div class="form-outline">
        <input type="text" id="inputDireccion" class="form-control"
               [(ngModel)]="pedidoDto.direccion" style="border: 1px solid gray;" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-success" (click)="generarPedido()">Generar Pedido</button>
    </div>
  </div>



</div>
</ion-content>
